@model Data.Models.ShipmentService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShipmentService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipment.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-shipmentId="@Model.ShipmentId" asp-route-serviceId="@Model.ServiceId">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
